<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Data Sources</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <td class="col-md-4">
                            <div class="checkbox">
                                <h4>Data Source Name: </h4>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="form-group" style="margin-bottom: 0">
                                <input type="text" class="form-control" ng-model="vm.databaseSources.name">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="checkbox">
                                <h4>Data Set Name: </h4>
                            </div>
                        </td>
                        <td class="col-md-8">
                            <div class="form-group" style="margin-bottom: 0">
                                <input type="text" class="form-control" ng-model="vm.databaseSources.setName">
                            </div>
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--<td class="col-md-4">-->
                    <!--<div class="checkbox">-->
                    <!--<h4>Driver Class: </h4>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="col-md-8">-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                    <!--<input type="text" class="form-control" ng-model="vm.databaseSources.data.DriverClass">-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td class="col-md-4">-->
                    <!--<div class="checkbox">-->
                    <!--<h4>Database URL: </h4>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="col-md-8">-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                    <!--<input type="text" class="form-control" ng-model="vm.databaseSources.data.DatabaseURL">-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td class="col-md-4">-->
                    <!--<div class="checkbox">-->
                    <!--<h4>User Name: </h4>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="col-md-8">-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                    <!--<input type="text" class="form-control" ng-model="vm.databaseSources.data.UserName">-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td class="col-md-4">-->
                    <!--<div class="checkbox">-->
                    <!--<h4>Password: </h4>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="col-md-8">-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                    <!--<input type="text" class="form-control" ng-model="vm.databaseSources.data.Password">-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td class="col-md-4">-->
                    <!--<div class="checkbox">-->
                    <!--<h4>JNDU URL: </h4>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="col-md-8">-->
                    <!--<div class="form-group" style="margin-bottom: 0">-->
                    <!--<input type="text" class="form-control" ng-model="vm.databaseSources.data.JNDIURL">-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                </table>
                <div class="row" style="margin: 0 -5px;">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <button ng-click="vm.databaseSources.testConnection()"
                                        ng-disabled="(!vm.databaseSorces.data.DriverClass || !vm.databaseSorces.data.DatabaseURL) && !vm.databaseSorces.data.JNDIURL"
                                        type="button" class="btn btn-primary btn-block">Test connection
                                </button>
                            </div>
                            <div class="col-md-6 result-connection"><p ng-class="vm.connectionMessage">{{vm.connectionMessage}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-primary" ng-click="vm.databaseSources.dataSourcesConnection()"-->
                    <!--ng-disabled="(!vm.databaseSources.data.DriverClass || !vm.databaseSources.data.DatabaseURL) && !vm.databaseSources.data.JNDIURL">-->
                <!--Next-->
            <!--</button>-->
            <button type="button" class="btn btn-primary" ng-click="vm.databaseSources.dataSourcesConnection()"
                    ng-disabled="(!vm.databaseSources.name || !vm.databaseSources.setName)">
                Next
            </button>
        </div>
    </div>
</div>