<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Select table</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">Selected table:</div>
                <div class="col-md-8">
                    <select class="form-control"
                            ng-model="vm.selectedTableName"
                            ng-init="vm.selectedTableName = vm.tables[0]"
                            ng-options="item for item in vm.tables">
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="vm.settingTablePopup()">Next</button>
        </div>
    </div>
</div>