<div ng-click="vm.focusContainer(); $event.stopPropagation();" >
    <input ng-class="vm.element.selected ? 'selectedContainer' : ''" ng-model="vm.element.value" type="text" class="text-box-input {{vm.element.type}}" ng-style="{
           'width': vm.element.style['width'] + vm.element.style['widthUnit'],
           'height': vm.element.style['height']  + vm.element.style['heightUnit'],
           'margin-top': vm.element.style['margin-top'] + 'px',
           'margin-right': vm.element.style['margin-right'] + 'px',
           'margin-bottom': vm.element.style['margin-bottom'] + 'px',
           'margin-left': vm.element.style['margin-left'] + 'px',
           'padding-top': vm.element.style['padding-top'] + 'px',
           'padding-right': vm.element.style['padding-right'] + 'px',
           'padding-bottom': vm.element.style['padding-bottom'] + 'px',
           'padding-left': vm.element.style['padding-left'] + 'px',
           'text-align': vm.element.style['text-align'],
           'border': vm.element.style['border'],
           'background-color': vm.element.style['background-color'],
           'color': vm.element.style['color'],
           'font-size': vm.element.style['font-size'] +vm.element.style['font-size-unit']}" >
</div>